<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.aandd.bleSimpleApp"
    android:versionCode="1"
    android:versionName="Sample 1.0.0" > <!-- This build based on WA 1.0.35 -->

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.google.android.gm.permission.READ_CONTENT_PROVIDER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="jp.co.aandd.bleSimpleApp.entities.AndMedical_App_Global"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library
            android:name="com.samsung.android.sdk.bt"
            android:required="false" />
        <uses-library
            android:name="com.htc.android.bluetooth.le"
            android:required="false" />

        <service android:name="jp.co.aandd.bleSimpleApp.gatt.BleConnectService" />
        <service android:name="jp.co.aandd.bleSimpleApp.gatt.BleReceivedService" />

        <activity
            android:name="jp.co.aandd.bleSimpleApp.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.utilities.NotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.andmedical.utilities.NotificationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.alarm_notifiction_demo.DialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.DisclaimerActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.DashboardActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.CreateAccountActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.base.ADInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TransBackground" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.LoginActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Reminder_Sound_Activity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.DeviceSetUpActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Dashboard_Blood_Pressure"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Dashboard_Weight"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.SettingActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.InstructionActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TransBackground" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.HelpActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.AboutActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.SharingActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="activity_termscondition"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="jp.co.aandd.bleSimpleApp.DashboardActivity1"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="newFB" >
        </activity>
        <activity
            android:name="Googleplus"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="jp.co.aandd.bleSimpleApp.User_GraphBoard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Set_Goals_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="WheelActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.BloodPressurePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.User_graphboard1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Set_Reminder_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Set_Alarm_Reminder_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Reminder_Label_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Reminder_Repeat_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.ViewPagerStyle1Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.WeightScalePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.LifeTracker"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Manage_user"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Add_New_User"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.Weight_Scale_Measurement"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.SampleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.DashboardActivitySal"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.DialogActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TransBackground" >
        </activity>

        <service android:name="jp.co.aandd.bleSimpleApp.BluetoothLeService" >
        </service>
        <service
            android:name="jp.co.aandd.bleSimpleApp.Services.UploadReadingsService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="jp.co.aandd.bleSimpleApp.AlarmReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="jp.co.aandd.bleSimpleApp.Weight_scale_dashboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="jp.co.aandd.bleSimpleApp.ManageSection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.microsoft.hsg.android.ShellActivity" />
    </application>

</manifest>